*.iml
.gradle
.idea
/local.properties
/.idea/vcs.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/app/app-release.apk
gradlew
gradlew.bat
app/build/
biz/build/
common/build/
gradle/wrapper/
net/build/
app/release/
